
body {
  font-family: Arial, Veranda, sans-serif;
  color: darkblue;
  background-color: rgba(173, 216, 230, 0.7);
  width: 100%;
  max-width: 0 auto;
  margin:0;
  padding:0%;
  min-height; 100%;}

header {
  color: green;
  font-family: 'Faster One', sans-serif;
  text-align: center;
  text-shadow:2px 2px 5px darkblue;
  margin: 5%;
  margin-bottom: 2%;}

  @font-face{
    font-family: 'Faster One';
    src: (Foglihten.otf);
  }

#hubble{
  border: 10px;
  background-color: darkblue;
  box-shadow: 10px 10px 5px green;
  float: center;
  width: 500px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
  mox-border-radius: 10px;
  webkit-border-radiusL 10px;
  -moz-box-shadow: inset 10 10 10px green;
  -webkit-box-shadow: inset 10 10 10px green;
  box-shadow: inset 10 10 10px green;}

  a:link {color:darkblue}
  a:visited {color: purple}
  a:hover {color: orange}
  a:active {color:red}

  .label {
    font-size:120%;
    color: green;}

  input {
    font-size:120%;
    color: green;
    background-color: purple;
    border: 2px double green;
    border-radius:  5px}


#comments {font-size:120%;
color: green;
background-color: purple;
border: 2px double green;
border-radius:  5px}

  input#submit {
    background-color: purple;
    color: green;
  }

  input#submit:hover {
    color: purple;
    background-color: green;
  }

nav {
  background-color: green;
  border: 5px solid darkblue;
  text-align:center;
  line-height:50%;
  font-size: 80%;
  font-weight: bold;
  width: 98%;
  height: 4%;
  margin: 0 auto;
  top: 0px;
  position: fixed;
}

nav ul {
  width: 90%
  margin:0;
}

nav li{
  display: inline-block;
  margin-right: 7%;
}

  h2{
    font-size:28px;
    font-weight: 4px;
    text-decoration: underline;
  }

  h3{font-style: oblique;
  }

.tile img{
  display: block;
  margin: auto;
  width: 60%;
}

.wrapper {
  padding: 1%;
  padding-left: 2%;
  width: 100%;
  display: inline-block;
  font-size: 0px;
  margin: auto;
  font-size: 0px;
  margin-bottom: 1.5%;
}

.tile {
  width: 25%;
  background-color: yellow;
  display:inline-block;
  border: 4px double green;
  font-size: 16px;
  text-align: left;
  padding: 2%;
  margin: 1%;
}
